<%= form_with(model: translation_set) do |form| %>
  <% if translation_set.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(translation_set.errors.count, "error") %> prohibited this translation_set from being saved:</h2>

      <ul>
        <% translation_set.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
