<h1>Editing translation set</h1>

<%= render "form", translation_set: @translation_set %>

<br>

<div>
  <%= link_to "Show this translation set", @translation_set %> |
  <%= link_to "Back to translation sets", translation_sets_path %>
</div>
