<div id="<%= dom_id translation %>">
  <p>
    <strong>Word:</strong>
    <%= translation.word_id %>
  </p>

  <p>
    <strong>Translation:</strong>
    <%= translation.translation %>
  </p>

  <p>
    <strong>Translation dialect:</strong>
    <%= translation.translation_dialect_id %>
  </p>

</div>
