<h1>Editing word in set</h1>

<%= render "form", word_in_set: @word_in_set %>

<br>

<div>
  <%= link_to "Show this word in set", @word_in_set %> |
  <%= link_to "Back to word in sets", word_in_sets_path %>
</div>
