<div id="sign-up-response">
    <%= render 'users/form' %>    
</div>

<input type="button" class="btn" style="display:none;" hidden="true" value="<%= yield :action%>" id="sign-up-button" onclick="encryptsignup()" />

<script type="text/javascript">
    init_users_form();
</script>
