<div class="field">
  <%= f.label :password_confirmation, t('Confirmation') %>
	<%= f.password_field :password_confirmation %>
	<%= user_field_error_message('password_confirmation_empty')%>
	<%= user_field_error_message('password_confirmation_not_match')%>
</div>
