	<div class="field">
	  <%= f.label :password, t('Password') %>
		<%= f.password_field :password %>
		<%= user_field_error_message('password_empty')%>
		<% unless for_new %>
			<%= user_field_error_message('password_invalid')%>
		<% end %>
	</div>
