<% provide(:title, "#{@user.name}") %>
<div class="user_show">
<%= render 'user' %>
</div>
<% if access?(@user) %>
  <td><%= link_to t('Edit'), edit_user_path(@user) %></td> |
  <td><%= link_to t('Destroy'), @user, method: :delete, data: { confirm: t('Are you sure') } %></td> |
<% end %>
<%= link_to t('Users list'), users_path %>
