<div id="<%= dom_id account_activation %>">
  <p>
    <strong>User:</strong>
    <%= account_activation.user_id %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= account_activation.token %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= account_activation.email %>
  </p>

</div>
