<h1>Editing account activation</h1>

<%= render "form", account_activation: @account_activation %>

<br>

<div>
  <%= link_to "Show this account activation", @account_activation %> |
  <%= link_to "Back to account activations", account_activations_path %>
</div>
