<% provide(:title, t('Shulte test.')) %>
<% provide(:assets, javascript_include_tag('shultes')) %>
<%= render "form", shulte: @shulte %>

<br>

<div>
  <%= link_to "Back to shultes", shultes_path %>
</div>
