<h1>Editing pick word in set</h1>

<%= render "form", pick_word_in_set: @pick_word_in_set %>

<br>

<div>
  <%= link_to "Show this pick word in set", @pick_word_in_set %> |
  <%= link_to "Back to pick word in sets", pick_word_in_sets_path %>
</div>
