<% provide(:title, t('Test result')) %>
<% provide(:assets, javascript_include_tag('pick_word_in_sets')) %>

<%= render "form", pick_word_in_set: @pick_word_in_set, locals: {activated: true} %>


<div>
  <%= link_to "Back to pick word in sets", pick_word_in_sets_path %>
</div>
