$side-padding: 2%;
$footer-height: 80px;
$background-mane: #eeeee7;
$header-color: #ddddd6;
$footer-color: #ddddd6;
$mystery-padding-workaround: 0px;
$font-size: 16px;
$main-width: 55em;
$label-width: 0.22*$main-width;
$input-width: 0.36*$main-width;

html {
    height:100%;
    font-size: 0px;
    display: block;
}

body {

    display: inline-block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-width:100%;
    padding-bottom: $mystery-padding-workaround;

    background-color: $footer-color;
    word-wrap: break-word;
    color: #000033;

    font-family: Arial;
}


//main should not contain % padding since it has max width limitter, that's why padding defind for outer element
#main {
    font-size: $font-size;
    box-sizing: border-box;
    display: block;
    padding: 2% 0px;
    margin: 0px auto;
    max-width: $main-width;

    font-family: Arial;
}


#main-side-padding{
    box-sizing: border-box;
    width: 100%;
    padding: 0px $side-padding;
}

#header{
    font-size: $font-size;
    display: inline-block;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;

    padding: 1em 3%;
    margin: 0px;
    background-color: $header-color;
}

#alogo
{
  font-size: 4*$font-size;
  font-family: Times;
}

#footer-pusher-workaround {
    background-color: $background-mane;
    display: inline-block;
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: $footer-height - $mystery-padding-workaround;
    margin-top: 0px;
    margin-bottom: -$footer-height + $mystery-padding-workaround;
}



footer {
    font-size: $font-size;
    display: inline-block;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;

    min-height: $footer-height - $mystery-padding-workaround;
    max-height: $footer-height - $mystery-padding-workaround;
    height: $footer-height - $mystery-padding-workaround;
    line-height: $footer-height - 2*$mystery-padding-workaround;

    padding: 0px 3%;
    padding-top: $mystery-padding-workaround;
    margin: 0px;

    background-color: $footer-color;
    text-align: center;
}


.top_nav {
    box-sizing: border-box;
    display: inline;
    float: right;
    margin: 5px;
    margin-top: 1%;
}

.link_list {
    a {
      display: block;
    }
}

h1 {
    margin: 0px;
    margin-right: 0.1em;
    padding: 0px;
    height: 100%;
    font-size: 2.25em;
    float: left;
}



h2 {
    font-size: 2em;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 0px;
    border-bottom: 2px solid #999999;
    margin-bottom: 1%;
}

nav {
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
    img {
         vertical-align: middle;
    }
    svg {
         vertical-align: middle;

    }
    &.sign:hover {
        text-decoration: underline;
    }
}

$btncolor: #563d7c;
.btn {
    font-size: 1.25em;
    color: $btncolor;
    background-color: transparent;
    border-color: $btncolor;
    padding: 0.5em 1em;
    margin: 0.25em 0.25em;
    border-radius: 1.125em;
    border: 1px solid $btncolor;
    &:hover {
        color: #efefe0;
        background-color: $btncolor;
    }
    &:active {
        color: #fffff0;
        background-color: #563d00;
    }
}



form {
    text-align: center;
    display: block;
    box-sizing: border-box;
    width: 100%;

}



.field {
    margin: 0.5em 1px;
}

label {
    display:  inline-block;
    //min-width: 50% + (10*10*($label-width - $input-width)/($main-width));
    width: 100%;
    max-width: $label-width;
    margin: 1px;
    box-sizing: border-box;
    text-align: right;
    &.noalign {
        width: auto;
    }

}
input {
    display: inline-block;
    margin: 1px;
    box-sizing: border-box;
    &[type=text], &[type=password], &[type=email] {
        max-width: $input-width;
        width: 100%;
    }
    &.long_input {
        max-width: $main-width  - 1.5 * $input-width;

        margin: 1px auto;
        width: 100%;
      }
    &[type=button], &[type=submit]{
        display: block;
        margin: 1px auto;
        &.row_button {
          display: inline-block;
        }
    }
}


.error {
    margin: 0 auto;
    text-align: center;
    color: #f43210;
    background: #112211;
    padding: 1em;
    border-radius: 0.5em;
    margin: 1em;
    /* recoloring links, default is too dark for dark bckground */
    /* unvisited link */
    a:link {
        color: #7898f8;
    }

    /* visited link */
    a:visited {
        color: #7898e0;
    }

    /* mouse over link */
    a:hover {
        color: #a0b0ff;
    }
}


#sign-up-response {
    text-align: center;
}

.debug_dump {
    display: inline-block;
    max-width:50em;
}

td {
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;
}
th {
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;
}

.avatar {
    float: left;
    display: inline-block;
}
.user_show {

    box-sizing: border-box;
    overflow: auto;
    display: block;

    padding: 0px;
    margin: 0px;

}

table {
    box-sizing: border-box;
    margin: 1em;
}


.help-links
{
    display: block;
    margin: 1em auto;
    text-align: center;
}

$optionMargin: 0.5vmin;
.optionboard
{
  border: 3px solid brown;
  text-align: center;
  align-items: center;
  width: 100%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  min-height: 100%;
  //display: flex;
}
.source-word{
  width: 100%;
  min-height: 2em;
  height: 15vh;
  margin-top: $optionMargin;
  margin-bottom: $optionMargin;
}
.comment-word{
  width: 100%;
  min-height: 2em;
  height: auto;
  max-height: 10vh;
  margin-top: $optionMargin;
  margin-bottom: $optionMargin;
  padding: $optionMargin;
  font-size: 1.75em;
  font-weight: bold;
}


.fit-text {
}



$maxOptionHeight: 18vh;
$maxOptionWidth: 28%;
.option_button {
  box-sizing: content-box;
  font-size: 1.5em;
  color: $btncolor;
  padding: 0vmin;
  padding-bottom: 0vmin;
  margin: $optionMargin $optionMargin;
  border-radius: 5vmin;
  border: 1vmin solid $btncolor;
  font-weight: bold;

  display: inline-flex; //othervice text pushes around other blocks
  width: $maxOptionWidth;
  min-width: 5em;
  max-height: $maxOptionHeight;
  overflow: hidden;
  white-space: normal;



  //background-color: solid;
  background-color: rgba(222, 222, 222, 1);
  //padding-bottom: -1vmin;
  align-content: stretch;
}


.option-wrap {

  box-sizing:content-box;

  pointer-events: none;
  padding: 1vmin;

  border-radius: inherit;
  border-width: 1vmin;
  border-color: transparent;


  margin: -1vmin;
  margin-top: -1vmin;
  margin-left: -1vmin;
  margin-bottom: 0vmin;

  background-color: rgba(222, 222, 222, 1);

  z-index: 2;
  overflow: hidden;

  border-style: solid;
  padding-bottom: 1vmin;

  width: 100%;
  max-width: 100%;
}

.option-marker {
  width: 1em;
  color: #aaaaaa;
  font-weight: bold;
  font-size: 1.1em;
}
.enabled_option_btn {
    @extend .option_button;
     &:hover .option-wrap{
      border-color:$btncolor;
    }
}

.btn-next {
  @extend .option_button;
  &.option-wrap.option-marker {
    text-shadow: 0em 0em 0em  #00000000;
  }
  &:hover .option-wrap{
   border-color:$btncolor;
 }
}
.btn-dunno {
  width: 2*$maxOptionWidth;
  // &:focus {
  //
  // }
}

.disabled_option_btn {
    @extend .option_button;
    user-select: text;
    border-color:#aaaaaa;
     &:hover .option-wrap{
      border-color:#aaaaaaff;
    }
    .option-marker {
      color: #aaaaaa;
      text-shadow: 0.1em 0.1em 0.2em  #11111155;
    }
}
.disabled_option_btn_yes {
    @extend .disabled_option_btn;
    border-color:#00ff00;
     &:hover .option-wrap{
      border-color:#00ff00ff;

    }
    .option-marker {
      color: #00ff00;
    }
}
.disabled_option_btn_no {
    @extend .disabled_option_btn;
    border-color:#ff0000;
     &:hover .option-wrap{
      border-color:#ff0000ff;

    }
    .option-marker {
      color: #ff0000;
    }
}
.disabled_option_btn_this {
    @extend .disabled_option_btn;
    border-color:#0000ff;
    &:hover .option-wrap{
      border-color:#0000ffff;
    }
    .option-marker {
      color: #0000ff;
    }
}


.option_button:hover,
.option_button:focus
{
  outline: none;
}
.disabled_option_btn:focus,
.enabled_option_btn:hover,
.enabled_option_btn:focus,
.disabled_option_btn_yes:hover,
.disabled_option_btn_yes:focus,
.disabled_option_btn_no:hover,
.disabled_option_btn_no:focus,
.disabled_option_btn_this:hover,
.disabled_option_btn_this:focus,
.option_button:hover,
.option_button:focus {
    border-width: 1vmin;
    border-color: transparent;
    background-color: transparent;
    overflow:visible;
    max-height: $maxOptionHeight;
    //padding-bottom: 2.5vmin;
    //margin-bottom: -0.5vmin;
}
// .btn-next:focus {
//   border-width: 1vmin;
// }

// .btn-next:hover,
// .btn-next:focus {
//   border-width: 1vmin;
// }
.btn-dunno:hover .option-wrap,
.btn-dunno:focus .option-wrap,
.btn-next:hover .option-wrap,
.btn-next:focus .option-wrap,
.enabled_option_btn:hover .option-wrap,
.enabled_option_btn:focus .option-wrap,
.disabled_option_btn_yes:hover .option-wrap,
.disabled_option_btn_yes:focus .option-wrap,
.disabled_option_btn_no:hover .option-wrap,
.disabled_option_btn_no:focus .option-wrap,
.disabled_option_btn_this:hover .option-wrap,
.disabled_option_btn_this:focus .option-wrap,
.disabled_option_btn:hover .option-wrap,
.disabled_option_btn:focus .option-wrap{
      z-index: 17;
      height: auto;
      margin-bottom: auto;
      transform:translate(-2%,-2%);
      transform:scale(104%,104%);
      box-shadow: 0 2vmin 4vmin rgba(0, 0, 0, 0.4);
      min-height: 100%;
}

.btn-dunno:hover .option-wrap,
.btn-dunno:focus .option-wrap {
  // min-width: 100%;
  // max-width: 100%;
}

.transparent {
  border-color: transparent;
  color:  transparent;
  background-color: transparent;
  .option-wrap{

    border-color: transparent;
    color:  transparent;
    background-color: transparent;
    .option-marker,
    .optiopn-text, {
      border-color: transparent;
      color:  transparent;
      background-color: transparent;
    }
  }
}
