$side-padding: 2%;
$footer-height: 80px;
$background-mane: #eeeee7;
$header-color: #ddddd6;
$footer-color: #ddddd6;
$mystery-padding-workaround: 0px;
$font-size: 16px;
$main-width: 55em;
$label-width: 0.22*$main-width;
$input-width: 0.36*$main-width;

html {
    height:100%;
    font-size: 0px;
    display: block;
}

body {

    display: inline-block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-width:100%;
    padding-bottom: $mystery-padding-workaround;

    background-color: $footer-color;
    word-wrap: break-word;
    color: #000033;

    font-family: Arial;
}


//main should not contain % padding since it has max width limitter, that's why padding defind for outer element
#main {
    font-size: $font-size;
    box-sizing: border-box;
    display: block;
    padding: 2% 0px;
    margin: 0px auto;
    max-width: $main-width;

    font-family: Arial;
}


#main-side-padding{
    box-sizing: border-box;
    width: 100%;
    padding: 0px $side-padding;
}

#header{
    font-size: $font-size;
    display: inline-block;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;

    padding: 1em 3%;
    margin: 0px;
    background-color: $header-color;
}

#alogo
{
  font-size: 4*$font-size;
  font-family: Times;
}

#footer-pusher-workaround {
    background-color: $background-mane;
    display: inline-block;
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: $footer-height - $mystery-padding-workaround;
    margin-top: 0px;
    margin-bottom: -$footer-height + $mystery-padding-workaround;
}



footer {
    font-size: $font-size;
    display: inline-block;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;

    min-height: $footer-height - $mystery-padding-workaround;
    max-height: $footer-height - $mystery-padding-workaround;
    height: $footer-height - $mystery-padding-workaround;
    line-height: $footer-height - 2*$mystery-padding-workaround;

    padding: 0px 3%;
    padding-top: $mystery-padding-workaround;
    margin: 0px;

    background-color: $footer-color;
    text-align: center;
}


.top_nav {
    box-sizing: border-box;
    display: inline;
    float: right;
    margin: 5px;
    margin-top: 1%;
}

.link_list {
    a {
      display: block;
    }
}

h1 {
    margin: 0px;
    margin-right: 0.1em;
    padding: 0px;
    height: 100%;
    font-size: 2.25em;
    float: left;
}



h2 {
    font-size: 2em;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 0px;
    border-bottom: 2px solid #999999;
    margin-bottom: 1%;
}

nav {
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
    img {
         vertical-align: middle;
    }
    svg {
         vertical-align: middle;

    }
    &.sign:hover {
        text-decoration: underline;
    }
}

$btncolor: #563d7c;
.btn {
    font-size: 1.25em;
    color: $btncolor;
    background-color: transparent;
    border-color: $btncolor;
    padding: 0.5em 1em;
    margin: 0.25em 0.25em;
    border-radius: 1.125em;
    border: 1px solid $btncolor;
    &:hover {
        color: #efefe0;
        background-color: $btncolor;
    }
    &:active {
        color: #fffff0;
        background-color: #563d00;
    }
}




form {
    text-align: center;
    display: block;
    box-sizing: border-box;
    width: 100%;

}



.field {
    margin: 0.5em 1px;
}

label {
    display:  inline-block;
    //min-width: 50% + (10*10*($label-width - $input-width)/($main-width));
    width: 100%;
    max-width: $label-width;
    margin: 1px;
    box-sizing: border-box;
    text-align: right;
    &.noalign {
        width: auto;
    }

}
input {
    display: inline-block;
    margin: 1px;
    box-sizing: border-box;
    &[type=text], &[type=password], &[type=email] {
        max-width: $input-width;
        width: 100%;
    }
    &.long_input {
        max-width: $main-width  - 1.5 * $input-width;

        margin: 1px auto;
        width: 100%;
      }
    &[type=button], &[type=submit]{
        display: block;
        margin: 1px auto;
        &.row_button {
          display: inline-block;
        }
    }
}


.error {
    margin: 0 auto;
    text-align: center;
    color: #f43210;
    background: #112211;
    padding: 1em;
    border-radius: 0.5em;
    margin: 1em;
    /* recoloring links, default is too dark for dark bckground */
    /* unvisited link */
    a:link {
        color: #7898f8;
    }

    /* visited link */
    a:visited {
        color: #7898e0;
    }

    /* mouse over link */
    a:hover {
        color: #a0b0ff;
    }
}


#sign-up-response {
    text-align: center;
}

.debug_dump {
    display: inline-block;
    max-width:50em;
}

td {
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;
}
th {
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;
}

.avatar {
    float: left;
    display: inline-block;
}
.user_show {

    box-sizing: border-box;
    overflow: auto;
    display: block;

    padding: 0px;
    margin: 0px;

}

table {
    box-sizing: border-box;
    margin: 1em;
}


.help-links
{
    display: block;
    margin: 1em auto;
    text-align: center;
}

#optionboard
{
  border: 3px solid brown;
  text-align: center;
  align-items: center;
  width: 80vmin;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
.fit-text {
}

.option_btn {
    font-size: 1.25em;
    color: $btncolor;
    background-color: transparent;
    border-color: $btncolor;
    padding: 1vmin 1vmin;
    margin: 1vmin 1vmin;
    border-radius: 5vmin;
    border: 1vmin solid $btncolor;

    &:hover {
        color: #efefe0;
        background-color: $btncolor;
    }
    &:active {
        color: #fffff0;
        background-color: #563d00;
    }
}
