<header class="hat" id="header">
<h1><%= link_to (t('app_name_left')+'<small style="font-size:0;"> </small>'+t('app_name_right')).html_safe, root_path, id: 'alogo'  %></h1>
<nav class="top_nav">
	 <%=  link_to t('Sign up'), signup_path, class: 'sign' %>
	</nav>
</header>
